body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
}

.logo {
    width: 100px; /* Ajusta el tamaño según necesites */
}

.enlaces {
    display: flex;
    align-items: center;
}

.enlaces a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.boton-login {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.boton-login:hover {
    background-color: darkblue;
}

/* Estilos para el formulario */
.formulario-busqueda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.campo-formulario {
    margin-right: 10px;
}

.campo-formulario label {
    display: block;
}

.campo-formulario input {
    width: 100%; /* Ajusta el ancho según necesites */
}

/* Estilos para la sección de ciudades */
section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.ciudad {
    margin: 10px;
}

.ciudad img {
    width: 300px; /* Tamaño fijo de ancho */
    height: 200px; /* Tamaño fijo de altura */
    border-radius: 10px;
}

.ciudad p {
    font-weight: bold;
    color: #333;
}
