body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(imagenes/fondo.png);
}


.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9e1e1;
    color: rgb(0, 0, 0);
    padding: 10px;
}

.logo {
    width: 150px; 
}

.enlaces {
    display: flex;
    align-items: center;
}

.enlaces a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.boton-login {
    background-color: rgb(1, 1, 1);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.boton-login:hover {
    background-color: rgb(91, 91, 95);
}


.formulario-busqueda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.campo-formulario {
    margin-right: 10px;
}

.campo-formulario label {
    display: block;
}

.campo-formulario input {
    width: 100%; 
}


section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.ciudad {
    margin: 10px;
}

.ciudad img {
    width: 300px; 
    height: 200px; 
    border-radius: 10px;
}

.ciudad p {
    font-weight: bold;
    color: #ffffff;
}
