body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-size: cover;
}


.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url('imagenes/encabezado1.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center 20%; 
    color: rgb(0, 0, 0); 
    padding: 10px;
}


.enlaces a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.boton-login {
    background-color: rgb(1, 1, 1);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.boton-login:hover {
    background-color: rgb(91, 91, 95);
}

/*formato edicion de biusqueda*/
#flightBookingApp {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 80px ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #161e6a;
}

#flightBookingApp div {
    margin: 10px;
}

label {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid hsl(243, 57%, 24%);
    background-color: rgb(255, 255, 255);
}